# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.env/
.venv/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# Executables
# =========================
*.exe

# =========================
# VSCode
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# mypy
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Icons Backup
# =========================
*.bak

# =========================
# Camera recordings
# =========================
recordings/